--
-- PostgreSQL database dump
--

\restrict 6ENPZrHCgFgu4BCbicJU4kFVYp3KBhjUq6qYspPfZK1hraa3z7VfuBg0eOcMcKS

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assinaturas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assinaturas (
    id_assinatura bigint NOT NULL,
    id_usuario bigint NOT NULL,
    id_plano bigint NOT NULL,
    data_inicio date NOT NULL,
    data_fim date,
    renova_automatico boolean DEFAULT true NOT NULL,
    status text NOT NULL,
    proximo_vencimento date,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT assinaturas_status_check CHECK ((status = ANY (ARRAY['ativa'::text, 'pendente'::text, 'cancelada'::text, 'expirada'::text])))
);


--
-- Name: assinaturas_id_assinatura_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.assinaturas_id_assinatura_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: assinaturas_id_assinatura_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.assinaturas_id_assinatura_seq OWNED BY public.assinaturas.id_assinatura;


--
-- Name: auditorias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auditorias (
    id_auditoria bigint NOT NULL,
    id_usuario bigint,
    acao text NOT NULL,
    entidade text NOT NULL,
    id_entidade bigint,
    meta_json jsonb,
    criado_em timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: auditorias_id_auditoria_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.auditorias_id_auditoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: auditorias_id_auditoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.auditorias_id_auditoria_seq OWNED BY public.auditorias.id_auditoria;


--
-- Name: aulas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.aulas (
    id_aula bigint NOT NULL,
    nome text NOT NULL,
    esporte text NOT NULL,
    nivel text,
    duracao_min integer NOT NULL,
    capacidade_max integer NOT NULL,
    preco_unitario numeric(12,2),
    descricao text,
    requisitos text,
    status text DEFAULT 'ativa'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT aulas_status_check CHECK ((status = ANY (ARRAY['ativa'::text, 'inativa'::text])))
);


--
-- Name: aulas_id_aula_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.aulas_id_aula_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: aulas_id_aula_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.aulas_id_aula_seq OWNED BY public.aulas.id_aula;


--
-- Name: bloqueios_quadra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bloqueios_quadra (
    id_bloqueio_quadra bigint NOT NULL,
    id_quadra bigint NOT NULL,
    inicio timestamp with time zone NOT NULL,
    fim timestamp with time zone NOT NULL,
    motivo text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bloqueios_quadra_check CHECK ((fim > inicio))
);


--
-- Name: bloqueios_quadra_id_bloqueio_quadra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.bloqueios_quadra_id_bloqueio_quadra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: bloqueios_quadra_id_bloqueio_quadra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.bloqueios_quadra_id_bloqueio_quadra_seq OWNED BY public.bloqueios_quadra.id_bloqueio_quadra;


--
-- Name: cobranca_parcelas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cobranca_parcelas (
    id_parcela bigint NOT NULL,
    id_cobranca bigint NOT NULL,
    numero_parcela integer DEFAULT 1 NOT NULL,
    total_parcelas integer DEFAULT 1 NOT NULL,
    valor numeric(12,2) NOT NULL,
    valor_pago numeric(12,2) DEFAULT 0 NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    vencimento date NOT NULL,
    pago_em timestamp with time zone,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT cobranca_parcelas_status_check CHECK ((status = ANY (ARRAY['pendente'::text, 'pago'::text, 'cancelado'::text, 'expirado'::text])))
);


--
-- Name: cobranca_parcelas_id_parcela_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cobranca_parcelas_id_parcela_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cobranca_parcelas_id_parcela_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cobranca_parcelas_id_parcela_seq OWNED BY public.cobranca_parcelas.id_parcela;


--
-- Name: cobrancas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cobrancas (
    id_cobranca bigint NOT NULL,
    id_usuario bigint NOT NULL,
    referencia_tipo text NOT NULL,
    referencia_id bigint NOT NULL,
    valor_total numeric(12,2) NOT NULL,
    valor_pago numeric(12,2) DEFAULT 0 NOT NULL,
    moeda text DEFAULT 'BRL'::text NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    descricao text NOT NULL,
    vencimento date NOT NULL,
    observacoes text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT cobrancas_referencia_tipo_check CHECK ((referencia_tipo = ANY (ARRAY['assinatura'::text, 'reserva_quadra'::text, 'sessao_personal'::text, 'inscricao_aula'::text]))),
    CONSTRAINT cobrancas_status_check CHECK ((status = ANY (ARRAY['pendente'::text, 'parcialmente_pago'::text, 'pago'::text, 'cancelado'::text, 'expirado'::text])))
);


--
-- Name: cobrancas_id_cobranca_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cobrancas_id_cobranca_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cobrancas_id_cobranca_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cobrancas_id_cobranca_seq OWNED BY public.cobrancas.id_cobranca;


--
-- Name: disponibilidade_instrutor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.disponibilidade_instrutor (
    id_disponibilidade bigint NOT NULL,
    id_instrutor bigint NOT NULL,
    dia_semana smallint NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fim time without time zone NOT NULL,
    disponivel boolean DEFAULT true NOT NULL,
    CONSTRAINT disponibilidade_instrutor_check CHECK ((hora_fim > hora_inicio)),
    CONSTRAINT disponibilidade_instrutor_dia_semana_check CHECK (((dia_semana >= 1) AND (dia_semana <= 7)))
);


--
-- Name: disponibilidade_instrutor_id_disponibilidade_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.disponibilidade_instrutor_id_disponibilidade_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: disponibilidade_instrutor_id_disponibilidade_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.disponibilidade_instrutor_id_disponibilidade_seq OWNED BY public.disponibilidade_instrutor.id_disponibilidade;


--
-- Name: eventos_assinatura; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.eventos_assinatura (
    id_evento_assinatura bigint NOT NULL,
    id_assinatura bigint NOT NULL,
    tipo text NOT NULL,
    payload_json jsonb,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT eventos_assinatura_tipo_check CHECK ((tipo = ANY (ARRAY['criada'::text, 'renovada'::text, 'cancelada'::text, 'pagamento_ok'::text, 'pagamento_erro'::text])))
);


--
-- Name: eventos_assinatura_id_evento_assinatura_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.eventos_assinatura_id_evento_assinatura_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: eventos_assinatura_id_evento_assinatura_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.eventos_assinatura_id_evento_assinatura_seq OWNED BY public.eventos_assinatura.id_evento_assinatura;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: horarios_aula; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.horarios_aula (
    id_horario_aula bigint NOT NULL,
    id_aula bigint NOT NULL,
    id_instrutor bigint NOT NULL,
    id_quadra bigint NOT NULL,
    dia_semana smallint NOT NULL,
    hora_inicio time without time zone NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT horarios_aula_dia_semana_check CHECK (((dia_semana >= 1) AND (dia_semana <= 7)))
);


--
-- Name: horarios_aula_id_horario_aula_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.horarios_aula_id_horario_aula_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: horarios_aula_id_horario_aula_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.horarios_aula_id_horario_aula_seq OWNED BY public.horarios_aula.id_horario_aula;


--
-- Name: inscricoes_aula; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inscricoes_aula (
    id_inscricao_aula bigint NOT NULL,
    id_ocorrencia_aula bigint,
    id_aula bigint NOT NULL,
    id_usuario bigint NOT NULL,
    status text DEFAULT 'inscrito'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT inscricoes_aula_status_check CHECK ((status = ANY (ARRAY['inscrito'::text, 'cancelado'::text, 'presente'::text, 'falta'::text])))
);


--
-- Name: inscricoes_aula_id_inscricao_aula_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.inscricoes_aula_id_inscricao_aula_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: inscricoes_aula_id_inscricao_aula_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.inscricoes_aula_id_inscricao_aula_seq OWNED BY public.inscricoes_aula.id_inscricao_aula;


--
-- Name: instrutores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.instrutores (
    id_instrutor bigint NOT NULL,
    id_usuario bigint,
    nome text NOT NULL,
    email public.citext,
    telefone text,
    cref text,
    valor_hora numeric(12,2),
    especialidades_json jsonb,
    bio text,
    status text DEFAULT 'ativo'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT instrutores_status_check CHECK ((status = ANY (ARRAY['ativo'::text, 'inativo'::text, 'excluido'::text])))
);


--
-- Name: instrutores_id_instrutor_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.instrutores_id_instrutor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: instrutores_id_instrutor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.instrutores_id_instrutor_seq OWNED BY public.instrutores.id_instrutor;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: notificacoes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notificacoes (
    id_notificacao integer NOT NULL,
    id_usuario integer NOT NULL,
    tipo character varying(50) NOT NULL,
    titulo character varying(255) NOT NULL,
    mensagem text NOT NULL,
    lida boolean DEFAULT false NOT NULL,
    data_leitura timestamp with time zone,
    link character varying(255),
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT notificacoes_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['cobranca'::character varying, 'pagamento'::character varying, 'sessao'::character varying, 'reserva'::character varying, 'aula'::character varying, 'assinatura'::character varying, 'sistema'::character varying])::text[])))
);


--
-- Name: notificacoes_id_notificacao_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notificacoes_id_notificacao_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notificacoes_id_notificacao_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notificacoes_id_notificacao_seq OWNED BY public.notificacoes.id_notificacao;


--
-- Name: ocorrencias_aula; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ocorrencias_aula (
    id_ocorrencia_aula bigint NOT NULL,
    id_aula bigint NOT NULL,
    id_instrutor bigint NOT NULL,
    id_quadra bigint NOT NULL,
    inicio timestamp with time zone NOT NULL,
    fim timestamp with time zone NOT NULL,
    periodo tstzrange GENERATED ALWAYS AS (tstzrange(inicio, fim, '[)'::text)) STORED,
    status text DEFAULT 'agendada'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ocorrencias_aula_check CHECK ((fim > inicio)),
    CONSTRAINT ocorrencias_aula_status_check CHECK ((status = ANY (ARRAY['agendada'::text, 'cancelada'::text, 'realizada'::text])))
);


--
-- Name: ocorrencias_aula_id_ocorrencia_aula_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ocorrencias_aula_id_ocorrencia_aula_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ocorrencias_aula_id_ocorrencia_aula_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ocorrencias_aula_id_ocorrencia_aula_seq OWNED BY public.ocorrencias_aula.id_ocorrencia_aula;


--
-- Name: pagamentos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pagamentos (
    id_pagamento bigint NOT NULL,
    id_parcela bigint NOT NULL,
    provedor text NOT NULL,
    metodo text,
    id_transacao_ext text,
    id_pagamento_ext text,
    valor numeric(12,2) NOT NULL,
    status text DEFAULT 'pendente'::text NOT NULL,
    url_checkout text,
    qr_code text,
    payload_json jsonb,
    erro_mensagem text,
    aprovado_em timestamp with time zone,
    expirado_em timestamp with time zone,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT pagamentos_metodo_check CHECK ((metodo = ANY (ARRAY['pix'::text, 'cartao_credito'::text, 'cartao_debito'::text, 'boleto'::text]))),
    CONSTRAINT pagamentos_provedor_check CHECK ((provedor = ANY (ARRAY['mercadopago'::text, 'stripe'::text, 'pix'::text, 'boleto'::text, 'simulacao'::text]))),
    CONSTRAINT pagamentos_status_check CHECK ((status = ANY (ARRAY['pendente'::text, 'processando'::text, 'aprovado'::text, 'recusado'::text, 'estornado'::text, 'cancelado'::text])))
);


--
-- Name: pagamentos_id_pagamento_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pagamentos_id_pagamento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pagamentos_id_pagamento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pagamentos_id_pagamento_seq OWNED BY public.pagamentos.id_pagamento;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: planos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.planos (
    id_plano bigint NOT NULL,
    nome text NOT NULL,
    preco numeric(12,2) NOT NULL,
    ciclo_cobranca text NOT NULL,
    max_reservas_futuras integer DEFAULT 0 NOT NULL,
    beneficios_json jsonb,
    status text DEFAULT 'ativo'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT planos_ciclo_cobranca_check CHECK ((ciclo_cobranca = ANY (ARRAY['mensal'::text, 'trimestral'::text, 'anual'::text]))),
    CONSTRAINT planos_status_check CHECK ((status = ANY (ARRAY['ativo'::text, 'inativo'::text, 'excluido'::text])))
);


--
-- Name: planos_id_plano_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.planos_id_plano_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: planos_id_plano_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.planos_id_plano_seq OWNED BY public.planos.id_plano;


--
-- Name: quadras; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.quadras (
    id_quadra bigint NOT NULL,
    nome text NOT NULL,
    localizacao text NOT NULL,
    esporte text NOT NULL,
    preco_hora numeric(12,2) NOT NULL,
    caracteristicas_json jsonb,
    status text DEFAULT 'ativa'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT quadras_status_check CHECK ((status = ANY (ARRAY['ativa'::text, 'inativa'::text])))
);


--
-- Name: quadras_id_quadra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quadras_id_quadra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quadras_id_quadra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.quadras_id_quadra_seq OWNED BY public.quadras.id_quadra;


--
-- Name: reservas_quadra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reservas_quadra (
    id_reserva_quadra bigint NOT NULL,
    id_quadra bigint NOT NULL,
    id_usuario bigint NOT NULL,
    inicio timestamp with time zone NOT NULL,
    fim timestamp with time zone NOT NULL,
    periodo tstzrange GENERATED ALWAYS AS (tstzrange(inicio, fim, '[)'::text)) STORED,
    preco_total numeric(12,2) NOT NULL,
    origem text DEFAULT 'site'::text NOT NULL,
    status text NOT NULL,
    observacoes text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    id_sessao_personal bigint,
    CONSTRAINT reservas_quadra_check CHECK ((fim > inicio)),
    CONSTRAINT reservas_quadra_origem_check CHECK ((origem = ANY (ARRAY['site'::text, 'admin'::text]))),
    CONSTRAINT reservas_quadra_status_check CHECK ((status = ANY (ARRAY['pendente'::text, 'confirmada'::text, 'cancelada'::text, 'no_show'::text, 'concluida'::text])))
);


--
-- Name: reservas_quadra_id_reserva_quadra_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.reservas_quadra_id_reserva_quadra_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: reservas_quadra_id_reserva_quadra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.reservas_quadra_id_reserva_quadra_seq OWNED BY public.reservas_quadra.id_reserva_quadra;


--
-- Name: sessoes_personal; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sessoes_personal (
    id_sessao_personal bigint NOT NULL,
    id_instrutor bigint NOT NULL,
    id_usuario bigint NOT NULL,
    id_quadra bigint,
    inicio timestamp with time zone NOT NULL,
    fim timestamp with time zone NOT NULL,
    periodo tstzrange GENERATED ALWAYS AS (tstzrange(inicio, fim, '[)'::text)) STORED,
    preco_total numeric(12,2) NOT NULL,
    status text NOT NULL,
    observacoes text,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sessoes_personal_check CHECK ((fim > inicio)),
    CONSTRAINT sessoes_personal_status_check CHECK ((status = ANY (ARRAY['pendente'::text, 'confirmada'::text, 'cancelada'::text, 'concluida'::text, 'no_show'::text])))
);


--
-- Name: sessoes_personal_id_sessao_personal_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sessoes_personal_id_sessao_personal_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sessoes_personal_id_sessao_personal_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sessoes_personal_id_sessao_personal_seq OWNED BY public.sessoes_personal.id_sessao_personal;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'aluno'::character varying NOT NULL,
    phone character varying(255),
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'personal'::character varying, 'aluno'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id_usuario bigint NOT NULL,
    nome text NOT NULL,
    email public.citext NOT NULL,
    senha_hash text NOT NULL,
    telefone text,
    documento text,
    data_nascimento date,
    papel text NOT NULL,
    status text DEFAULT 'ativo'::text NOT NULL,
    criado_em timestamp with time zone DEFAULT now() NOT NULL,
    atualizado_em timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT usuarios_papel_check CHECK ((papel = ANY (ARRAY['admin'::text, 'aluno'::text, 'instrutor'::text]))),
    CONSTRAINT usuarios_status_check CHECK ((status = ANY (ARRAY['ativo'::text, 'inativo'::text, 'excluido'::text])))
);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: webhooks_pagamento; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.webhooks_pagamento (
    id_webhook bigint NOT NULL,
    id_pagamento bigint,
    provedor text NOT NULL,
    tipo_evento text NOT NULL,
    id_evento_externo text NOT NULL,
    payload_json jsonb NOT NULL,
    processado boolean DEFAULT false NOT NULL,
    processado_em timestamp with time zone,
    criado_em timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: webhooks_pagamento_id_webhook_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.webhooks_pagamento_id_webhook_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: webhooks_pagamento_id_webhook_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.webhooks_pagamento_id_webhook_seq OWNED BY public.webhooks_pagamento.id_webhook;


--
-- Name: assinaturas id_assinatura; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assinaturas ALTER COLUMN id_assinatura SET DEFAULT nextval('public.assinaturas_id_assinatura_seq'::regclass);


--
-- Name: auditorias id_auditoria; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditorias ALTER COLUMN id_auditoria SET DEFAULT nextval('public.auditorias_id_auditoria_seq'::regclass);


--
-- Name: aulas id_aula; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aulas ALTER COLUMN id_aula SET DEFAULT nextval('public.aulas_id_aula_seq'::regclass);


--
-- Name: bloqueios_quadra id_bloqueio_quadra; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bloqueios_quadra ALTER COLUMN id_bloqueio_quadra SET DEFAULT nextval('public.bloqueios_quadra_id_bloqueio_quadra_seq'::regclass);


--
-- Name: cobranca_parcelas id_parcela; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobranca_parcelas ALTER COLUMN id_parcela SET DEFAULT nextval('public.cobranca_parcelas_id_parcela_seq'::regclass);


--
-- Name: cobrancas id_cobranca; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobrancas ALTER COLUMN id_cobranca SET DEFAULT nextval('public.cobrancas_id_cobranca_seq'::regclass);


--
-- Name: disponibilidade_instrutor id_disponibilidade; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.disponibilidade_instrutor ALTER COLUMN id_disponibilidade SET DEFAULT nextval('public.disponibilidade_instrutor_id_disponibilidade_seq'::regclass);


--
-- Name: eventos_assinatura id_evento_assinatura; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.eventos_assinatura ALTER COLUMN id_evento_assinatura SET DEFAULT nextval('public.eventos_assinatura_id_evento_assinatura_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: horarios_aula id_horario_aula; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.horarios_aula ALTER COLUMN id_horario_aula SET DEFAULT nextval('public.horarios_aula_id_horario_aula_seq'::regclass);


--
-- Name: inscricoes_aula id_inscricao_aula; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula ALTER COLUMN id_inscricao_aula SET DEFAULT nextval('public.inscricoes_aula_id_inscricao_aula_seq'::regclass);


--
-- Name: instrutores id_instrutor; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.instrutores ALTER COLUMN id_instrutor SET DEFAULT nextval('public.instrutores_id_instrutor_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: notificacoes id_notificacao; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificacoes ALTER COLUMN id_notificacao SET DEFAULT nextval('public.notificacoes_id_notificacao_seq'::regclass);


--
-- Name: ocorrencias_aula id_ocorrencia_aula; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula ALTER COLUMN id_ocorrencia_aula SET DEFAULT nextval('public.ocorrencias_aula_id_ocorrencia_aula_seq'::regclass);


--
-- Name: pagamentos id_pagamento; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagamentos ALTER COLUMN id_pagamento SET DEFAULT nextval('public.pagamentos_id_pagamento_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: planos id_plano; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planos ALTER COLUMN id_plano SET DEFAULT nextval('public.planos_id_plano_seq'::regclass);


--
-- Name: quadras id_quadra; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quadras ALTER COLUMN id_quadra SET DEFAULT nextval('public.quadras_id_quadra_seq'::regclass);


--
-- Name: reservas_quadra id_reserva_quadra; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra ALTER COLUMN id_reserva_quadra SET DEFAULT nextval('public.reservas_quadra_id_reserva_quadra_seq'::regclass);


--
-- Name: sessoes_personal id_sessao_personal; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal ALTER COLUMN id_sessao_personal SET DEFAULT nextval('public.sessoes_personal_id_sessao_personal_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Name: webhooks_pagamento id_webhook; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.webhooks_pagamento ALTER COLUMN id_webhook SET DEFAULT nextval('public.webhooks_pagamento_id_webhook_seq'::regclass);


--
-- Name: assinaturas assinaturas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assinaturas
    ADD CONSTRAINT assinaturas_pkey PRIMARY KEY (id_assinatura);


--
-- Name: auditorias auditorias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditorias
    ADD CONSTRAINT auditorias_pkey PRIMARY KEY (id_auditoria);


--
-- Name: aulas aulas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.aulas
    ADD CONSTRAINT aulas_pkey PRIMARY KEY (id_aula);


--
-- Name: bloqueios_quadra bloqueios_quadra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bloqueios_quadra
    ADD CONSTRAINT bloqueios_quadra_pkey PRIMARY KEY (id_bloqueio_quadra);


--
-- Name: cobranca_parcelas cobranca_parcelas_id_cobranca_numero_parcela_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobranca_parcelas
    ADD CONSTRAINT cobranca_parcelas_id_cobranca_numero_parcela_key UNIQUE (id_cobranca, numero_parcela);


--
-- Name: cobranca_parcelas cobranca_parcelas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobranca_parcelas
    ADD CONSTRAINT cobranca_parcelas_pkey PRIMARY KEY (id_parcela);


--
-- Name: cobrancas cobrancas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobrancas
    ADD CONSTRAINT cobrancas_pkey PRIMARY KEY (id_cobranca);


--
-- Name: disponibilidade_instrutor disponibilidade_instrutor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.disponibilidade_instrutor
    ADD CONSTRAINT disponibilidade_instrutor_pkey PRIMARY KEY (id_disponibilidade);


--
-- Name: eventos_assinatura eventos_assinatura_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.eventos_assinatura
    ADD CONSTRAINT eventos_assinatura_pkey PRIMARY KEY (id_evento_assinatura);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: horarios_aula horarios_aula_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.horarios_aula
    ADD CONSTRAINT horarios_aula_pkey PRIMARY KEY (id_horario_aula);


--
-- Name: inscricoes_aula inscricoes_aula_id_ocorrencia_aula_id_usuario_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula
    ADD CONSTRAINT inscricoes_aula_id_ocorrencia_aula_id_usuario_key UNIQUE (id_ocorrencia_aula, id_usuario);


--
-- Name: inscricoes_aula inscricoes_aula_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula
    ADD CONSTRAINT inscricoes_aula_pkey PRIMARY KEY (id_inscricao_aula);


--
-- Name: instrutores instrutores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.instrutores
    ADD CONSTRAINT instrutores_pkey PRIMARY KEY (id_instrutor);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id_notificacao);


--
-- Name: ocorrencias_aula ocorrencias_aula_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula
    ADD CONSTRAINT ocorrencias_aula_pkey PRIMARY KEY (id_ocorrencia_aula);


--
-- Name: pagamentos pagamentos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_pkey PRIMARY KEY (id_pagamento);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: planos planos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.planos
    ADD CONSTRAINT planos_pkey PRIMARY KEY (id_plano);


--
-- Name: quadras quadras_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.quadras
    ADD CONSTRAINT quadras_pkey PRIMARY KEY (id_quadra);


--
-- Name: reservas_quadra reservas_quadra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra
    ADD CONSTRAINT reservas_quadra_pkey PRIMARY KEY (id_reserva_quadra);


--
-- Name: sessoes_personal sessoes_personal_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal
    ADD CONSTRAINT sessoes_personal_pkey PRIMARY KEY (id_sessao_personal);


--
-- Name: ocorrencias_aula uq_ocorrencia_aula_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula
    ADD CONSTRAINT uq_ocorrencia_aula_overlap EXCLUDE USING gist (id_quadra WITH =, periodo WITH &&);


--
-- Name: reservas_quadra uq_reserva_quadra_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra
    ADD CONSTRAINT uq_reserva_quadra_overlap EXCLUDE USING gist (id_quadra WITH =, periodo WITH &&);


--
-- Name: sessoes_personal uq_sessao_instrutor_overlap; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal
    ADD CONSTRAINT uq_sessao_instrutor_overlap EXCLUDE USING gist (id_instrutor WITH =, periodo WITH &&);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: webhooks_pagamento webhooks_pagamento_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.webhooks_pagamento
    ADD CONSTRAINT webhooks_pagamento_pkey PRIMARY KEY (id_webhook);


--
-- Name: webhooks_pagamento webhooks_pagamento_provedor_id_evento_externo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.webhooks_pagamento
    ADD CONSTRAINT webhooks_pagamento_provedor_id_evento_externo_key UNIQUE (provedor, id_evento_externo);


--
-- Name: ix_assinaturas_usuario_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assinaturas_usuario_status ON public.assinaturas USING btree (id_usuario, status);


--
-- Name: ix_assinaturas_vencimento; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_assinaturas_vencimento ON public.assinaturas USING btree (proximo_vencimento);


--
-- Name: ix_auditorias_entidade; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_auditorias_entidade ON public.auditorias USING btree (entidade, id_entidade);


--
-- Name: ix_bloqueios_quadra_periodo; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_bloqueios_quadra_periodo ON public.bloqueios_quadra USING btree (id_quadra, inicio, fim);


--
-- Name: ix_cobranca_parcelas_cobranca; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cobranca_parcelas_cobranca ON public.cobranca_parcelas USING btree (id_cobranca);


--
-- Name: ix_cobranca_parcelas_vencimento; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cobranca_parcelas_vencimento ON public.cobranca_parcelas USING btree (vencimento) WHERE (status = 'pendente'::text);


--
-- Name: ix_cobrancas_referencia; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cobrancas_referencia ON public.cobrancas USING btree (referencia_tipo, referencia_id);


--
-- Name: ix_cobrancas_usuario_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cobrancas_usuario_status ON public.cobrancas USING btree (id_usuario, status);


--
-- Name: ix_cobrancas_vencimento; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cobrancas_vencimento ON public.cobrancas USING btree (vencimento) WHERE (status = 'pendente'::text);


--
-- Name: ix_disp_instrutor_semana_hora; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_disp_instrutor_semana_hora ON public.disponibilidade_instrutor USING btree (id_instrutor, dia_semana, hora_inicio);


--
-- Name: ix_eventos_assinatura_assin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_eventos_assinatura_assin ON public.eventos_assinatura USING btree (id_assinatura);


--
-- Name: ix_horarios_aula_aula_semana_hora; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_horarios_aula_aula_semana_hora ON public.horarios_aula USING btree (id_aula, dia_semana, hora_inicio);


--
-- Name: ix_inscricoes_aula_usuario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_inscricoes_aula_usuario ON public.inscricoes_aula USING btree (id_usuario, status);


--
-- Name: ix_notificacoes_criado_em; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notificacoes_criado_em ON public.notificacoes USING btree (criado_em DESC);


--
-- Name: ix_notificacoes_usuario_lida; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_notificacoes_usuario_lida ON public.notificacoes USING btree (id_usuario, lida);


--
-- Name: ix_pagamentos_parcela; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_pagamentos_parcela ON public.pagamentos USING btree (id_parcela);


--
-- Name: ix_pagamentos_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_pagamentos_status ON public.pagamentos USING btree (status);


--
-- Name: ix_pagamentos_transacao_ext; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_pagamentos_transacao_ext ON public.pagamentos USING btree (provedor, id_transacao_ext);


--
-- Name: ix_reservas_quadra_quadra_inicio; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reservas_quadra_quadra_inicio ON public.reservas_quadra USING btree (id_quadra, inicio);


--
-- Name: ix_reservas_quadra_usuario_inicio; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reservas_quadra_usuario_inicio ON public.reservas_quadra USING btree (id_usuario, inicio);


--
-- Name: ix_sessoes_personal_instrutor_inicio; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sessoes_personal_instrutor_inicio ON public.sessoes_personal USING btree (id_instrutor, inicio);


--
-- Name: ix_sessoes_personal_usuario_inicio; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sessoes_personal_usuario_inicio ON public.sessoes_personal USING btree (id_usuario, inicio);


--
-- Name: ix_webhooks_pagamento_processado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_webhooks_pagamento_processado ON public.webhooks_pagamento USING btree (processado, criado_em);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: reservas_quadra_id_sessao_personal_index; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX reservas_quadra_id_sessao_personal_index ON public.reservas_quadra USING btree (id_sessao_personal);


--
-- Name: assinaturas assinaturas_id_plano_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assinaturas
    ADD CONSTRAINT assinaturas_id_plano_fkey FOREIGN KEY (id_plano) REFERENCES public.planos(id_plano);


--
-- Name: assinaturas assinaturas_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assinaturas
    ADD CONSTRAINT assinaturas_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: auditorias auditorias_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auditorias
    ADD CONSTRAINT auditorias_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: bloqueios_quadra bloqueios_quadra_id_quadra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bloqueios_quadra
    ADD CONSTRAINT bloqueios_quadra_id_quadra_fkey FOREIGN KEY (id_quadra) REFERENCES public.quadras(id_quadra) ON DELETE CASCADE;


--
-- Name: cobranca_parcelas cobranca_parcelas_id_cobranca_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobranca_parcelas
    ADD CONSTRAINT cobranca_parcelas_id_cobranca_fkey FOREIGN KEY (id_cobranca) REFERENCES public.cobrancas(id_cobranca) ON DELETE CASCADE;


--
-- Name: cobrancas cobrancas_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cobrancas
    ADD CONSTRAINT cobrancas_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: disponibilidade_instrutor disponibilidade_instrutor_id_instrutor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.disponibilidade_instrutor
    ADD CONSTRAINT disponibilidade_instrutor_id_instrutor_fkey FOREIGN KEY (id_instrutor) REFERENCES public.instrutores(id_instrutor) ON DELETE CASCADE;


--
-- Name: eventos_assinatura eventos_assinatura_id_assinatura_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.eventos_assinatura
    ADD CONSTRAINT eventos_assinatura_id_assinatura_fkey FOREIGN KEY (id_assinatura) REFERENCES public.assinaturas(id_assinatura) ON DELETE CASCADE;


--
-- Name: notificacoes fk_notificacao_usuario; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT fk_notificacao_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: horarios_aula horarios_aula_id_aula_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.horarios_aula
    ADD CONSTRAINT horarios_aula_id_aula_fkey FOREIGN KEY (id_aula) REFERENCES public.aulas(id_aula) ON DELETE CASCADE;


--
-- Name: horarios_aula horarios_aula_id_instrutor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.horarios_aula
    ADD CONSTRAINT horarios_aula_id_instrutor_fkey FOREIGN KEY (id_instrutor) REFERENCES public.instrutores(id_instrutor);


--
-- Name: horarios_aula horarios_aula_id_quadra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.horarios_aula
    ADD CONSTRAINT horarios_aula_id_quadra_fkey FOREIGN KEY (id_quadra) REFERENCES public.quadras(id_quadra);


--
-- Name: inscricoes_aula inscricoes_aula_id_aula_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula
    ADD CONSTRAINT inscricoes_aula_id_aula_fkey FOREIGN KEY (id_aula) REFERENCES public.aulas(id_aula) ON DELETE CASCADE;


--
-- Name: inscricoes_aula inscricoes_aula_id_ocorrencia_aula_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula
    ADD CONSTRAINT inscricoes_aula_id_ocorrencia_aula_fkey FOREIGN KEY (id_ocorrencia_aula) REFERENCES public.ocorrencias_aula(id_ocorrencia_aula) ON DELETE SET NULL;


--
-- Name: inscricoes_aula inscricoes_aula_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inscricoes_aula
    ADD CONSTRAINT inscricoes_aula_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: instrutores instrutores_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.instrutores
    ADD CONSTRAINT instrutores_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE SET NULL;


--
-- Name: ocorrencias_aula ocorrencias_aula_id_aula_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula
    ADD CONSTRAINT ocorrencias_aula_id_aula_fkey FOREIGN KEY (id_aula) REFERENCES public.aulas(id_aula) ON DELETE CASCADE;


--
-- Name: ocorrencias_aula ocorrencias_aula_id_instrutor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula
    ADD CONSTRAINT ocorrencias_aula_id_instrutor_fkey FOREIGN KEY (id_instrutor) REFERENCES public.instrutores(id_instrutor);


--
-- Name: ocorrencias_aula ocorrencias_aula_id_quadra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ocorrencias_aula
    ADD CONSTRAINT ocorrencias_aula_id_quadra_fkey FOREIGN KEY (id_quadra) REFERENCES public.quadras(id_quadra);


--
-- Name: pagamentos pagamentos_id_parcela_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pagamentos
    ADD CONSTRAINT pagamentos_id_parcela_fkey FOREIGN KEY (id_parcela) REFERENCES public.cobranca_parcelas(id_parcela) ON DELETE CASCADE;


--
-- Name: reservas_quadra reservas_quadra_id_quadra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra
    ADD CONSTRAINT reservas_quadra_id_quadra_fkey FOREIGN KEY (id_quadra) REFERENCES public.quadras(id_quadra) ON DELETE CASCADE;


--
-- Name: reservas_quadra reservas_quadra_id_sessao_personal_foreign; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra
    ADD CONSTRAINT reservas_quadra_id_sessao_personal_foreign FOREIGN KEY (id_sessao_personal) REFERENCES public.sessoes_personal(id_sessao_personal) ON DELETE CASCADE;


--
-- Name: reservas_quadra reservas_quadra_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservas_quadra
    ADD CONSTRAINT reservas_quadra_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: sessoes_personal sessoes_personal_id_instrutor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal
    ADD CONSTRAINT sessoes_personal_id_instrutor_fkey FOREIGN KEY (id_instrutor) REFERENCES public.instrutores(id_instrutor) ON DELETE CASCADE;


--
-- Name: sessoes_personal sessoes_personal_id_quadra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal
    ADD CONSTRAINT sessoes_personal_id_quadra_fkey FOREIGN KEY (id_quadra) REFERENCES public.quadras(id_quadra);


--
-- Name: sessoes_personal sessoes_personal_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessoes_personal
    ADD CONSTRAINT sessoes_personal_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE CASCADE;


--
-- Name: webhooks_pagamento webhooks_pagamento_id_pagamento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.webhooks_pagamento
    ADD CONSTRAINT webhooks_pagamento_id_pagamento_fkey FOREIGN KEY (id_pagamento) REFERENCES public.pagamentos(id_pagamento) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 6ENPZrHCgFgu4BCbicJU4kFVYp3KBhjUq6qYspPfZK1hraa3z7VfuBg0eOcMcKS

