# Arquivo para ignorar no Docker
vendor/
node_modules/
.env
.env.testing
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
.DS_Store
Thumbs.db
*.log
.git/
.gitignore
.editorconfig
tests/
phpunit.xml
